

#loading-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Laisse passer la souris pour les menus Foundry */
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10%;
  /*z-index: 99999;*/

}

#tip-box {
  background: rgba(0,0,0,0.5);
  padding: 20px 40px;
  border-radius: 12px;
  max-width: 70%;
}

#pause-screen-tip {
  font-size: 1.6em;
  color: white;
  text-align: center;
  display: block;
}

.tip-line input[type="text"] {
  width: 10000% !important;
  flex: 1 1 auto !important;
  font-size: 1rem;
  padding: 6px;
  box-sizing: border-box;
}
